// Custom styles.
//让首页列表项的副标题都在一行里
.post-wordcount {
  display: inline-block;
}

// 减少首页列表项，标题和内容的间隔
.posts-expand .post-meta {
  margin-bottom: 30px;
}

// 修改超链接的样式
.post-body a:not(.btn):not(.post-button) {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}